<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>ZECO - Connexion</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Css -->
    <link rel="stylesheet" href="/zeco_generalite/css/style.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Favicons -->
    <link href="/zeco_generalite/minimal/img/favicon.png" rel="icon">
    <link href="/zeco_generalite/minimal/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/zeco_generalite/minimal/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/zeco_generalite/minimal/lib/unveil-effects/animations.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/zeco_generalite/minimal/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="body">

        <% if(identifiant.pseudo === undefined){ %>
            <%- include('redirect'); %>
                <% } else { %>
                    <!-- Navigation bar -->
                    <nav class="nav">
                        <div class="nav-left">
                            <a href="/home"><img src="/images/logo.png" alt="ZECO APP" class="logo"></a>
                        </div>

                        <div class="nav-right">

                            <div class="nav-user">
                                <a href="" class="btn" data-bs-toggle="dropdown"> <img src="/images/user-logo.jpg" alt=""><span class="nom-prenom"><%= identifiant.pseudo %></span>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Mon profil</a></li>
                                        <li><a class="dropdown-item" href="#">Mes notifications</a></li>
                                        <hr>
                                        <li><a class="dropdown-item" href="#">Déconnexion</i></a></li>
                                    </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="body-content">
                        <div class="main-content">
                            <!--  ********** HEADER SECTION ********** -->
                            <div id="h">
                                <div class="container">
                                    <div class="row centered">
                                        <h1>CORRUPTION</h1>
                                        <h2>Disons non à la corruption</h2>
                                    </div>
                                    <!--/row -->
                                </div>
                                <!-- /container -->
                            </div>
                            <!--/header-->

                            <!--  ********** WHITE SECTION ********** -->
                            <div id="w">
                                <div class="container">
                                    <div class="row centered">
                                        <div class="col-md-8 col-md-offset-2">
                                            <h4>DEFINITION</h4>
                                        </div>
                                        <!--col-md-8 -->
                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/w -->

                            <!--  ********** GREEN SECTION ********** -->
                            <div id="g">
                                <div class="container">
                                    <div class="row mt">
                                        <div class="col-md-6 centered">
                                            <img src="/zeco_generalite/minimal/img/images2.jfif" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
                                        </div>
                                        <!--/col-md-6 -->

                                        <div class="col-md-4">
                                            <h1 data-effect="slide-right">1</h1>
                                            <p><b>La corruption</b> peut être définie comme Le détournement d’un processus ou d’une interaction avec une ou plusieurs dessein
                                            </p>
                                            <hr>
                                            <p><b>La corruption</b> – entendue dans son sens strict – désigne le fait pour une personne investie d'une fonction déterminée (publique ou privée) de solliciter ou d'accepter un don ou un avantage quelconque en
                                                vue d'accomplir, ou de s'abstenir d'accomplir, un acte entrant dans le cadre de ses fonctions.
                                            </p>
                                        </div>
                                        <!--/col-md-4 -->

                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/G -->

                            <!--  ********** CTA SECTION ********** -->
                            <div id="cta">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 centered">
                                            <p>Ceux qui le pratique !</p>
                                        </div>
                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/CTA -->

                            <!--  ********** RED SECTION ********** -->
                            <div id="r">
                                <div class="container">
                                    <div class="row mt">
                                        <div class="col-md-6 centered">
                                            <img src="/zeco_generalite/minimal/img/images3.jpg" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-right">
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <h1 data-effect="slide-left">2</h1>
                                            <p>La corruption est pratiquée dans tous les pays du monde.
                                            </p>
                                            <hr>
                                            <p>Mais, elle est beaucoup plus pratiquée dans les pays en développement. Spécialement en Afrique
                                            </p>
                                        </div>
                                        <!--/col-md-4 -->

                                        <!--/col-md-6 -->
                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/R -->

                            <!--  ********** CTA SECTION ********** -->
                            <div id="cta">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 centered">
                                            <p>DENOTATION</p>
                                        </div>
                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/CTA -->

                            <!--  ********** BLUE SECTION ********** -->
                            <div id="b">
                                <div class="container">
                                    <div class="row mt">
                                        <div class="col-md-6 centered">
                                            <img src="/images/conséquences.gif" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
                                        </div>
                                        <!--/col-md-6 -->

                                        <div class="col-md-4">
                                            <h1 data-effect="slide-right">3</h1>
                                            <p>Faiblesse structurelle des institutions nationales</p>
                                            <hr>
                                            <p>Incapacité des pouvoirs publics à exercer un contrôle sur les actes des fonctionnaires</p>
                                        </div>
                                        <!--/col-md-4 -->

                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/B -->

                            <!--  ********** CTA SECTION ********** -->
                            <div id="cta">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 centered">
                                            <p>CONSEQUENCES</p>
                                        </div>
                                    </div>
                                    <!--/row -->
                                </div>
                                <!--/container -->
                            </div>
                            <!--/CTA -->

                            <!--  ********** FOOTER SECTION ********** -->
                            <div id="f">
                                <div class="container">
                                    <div class="row mt">
                                        <div class="col-md-6 centered">
                                            <img src="/zeco_generalite/minimal/img/images4.jfif" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
                                        </div>
                                        <div class="col-md-4 col-md-offset-2">
                                            <p>Désintéressement des bailleurs de fonds du pays</p>
                                            <hr>
                                            <p>Baisse de l’assistance financière de la communauté internationale</p>
                                        </div>
                                        <!--/col-md-4 -->

                                        <!--/col-md-6 -->
                                    </div>
                                    <!--/row -->
                                </div>
                            </div>
                            <!--/F -->


                            <!-- FIN -->
                            <div id="copyrights">
                                <div class="container">
                                    <p>
                                        &copy; Copyrights <strong>ZECO</strong>. All Rights Reserved
                                    </p>
                                </div>
                            </div>
                            <!-- / copyrights -->
                        </div>
                    </div>
                    <%}%>
    </div>


</body>

</html>